# Super Video Game Analysis - Alpha Release
Author: Feiran Ji, Chenxi Ge

As mentioned in the project proposal, the data we use is from [this](https://www.kaggle.com/rush4ratio/video-game-sales-with-ratings) kaggle page, and all information we need is included.
In [alpha release](https://chenxi-ge.github.io/super-video-game-analysis/0421_alpha_release.html), we are trying to make sure we can embed graphs in our project website, and to show we are able to make inference using existing data.

As an example, we show the total sale of each platform group (either Nintendo, Sony Entertainment, Microsoft Xbox or other consoles) across all years.

In [10]:
import numpy as np
import pandas as pd
import plotly.offline as py
py.init_notebook_mode(connected=True)
import plotly.graph_objs as go
import plotly.tools as tls

In [11]:
game = pd.read_csv('vg_sales_rating.csv')

In [12]:
game.head()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
game['Platform'].unique()

array(['Wii', 'NES', 'GB', 'DS', 'X360', 'PS3', 'PS2', 'SNES', 'GBA',
       'PS4', '3DS', 'N64', 'PS', 'XB', 'PC', '2600', 'PSP', 'XOne',
       'WiiU', 'GC', 'GEN', 'DC', 'PSV', 'SAT', 'SCD', 'WS', 'NG', 'TG16',
       '3DO', 'GG', 'PCFX'], dtype=object)

In [14]:
plat = {}
plat['nintendo'] = ["3DS","DS","GB","GBA","N64","GC", "NES","SNES","Wii","WiiU"]
plat['sony'] = ["PS","PS2","PSP","PS3","PS4","PSV"]
plat['ms'] = ["XB","X360", "XOne"]
plat['other'] = ["GEN","SCD","DC","GG","2600","3DO","NG","PCFX","TG16",'SAT','WS']

# gen = {}
# fourthgen = ["SNES", "GEN"]
# fifthgen = ["N64", "SAT","PS"]
# sixthgen = ["PS2", "GC","DC","XB"]
# seventhgen= ["Wii","X360","PS3"]

In [15]:
plat_new = {k: oldk for oldk, oldv in plat.items() for k in oldv}
print (plat_new)

{'3DS': 'nintendo', 'DS': 'nintendo', 'GB': 'nintendo', 'GBA': 'nintendo', 'N64': 'nintendo', 'GC': 'nintendo', 'NES': 'nintendo', 'SNES': 'nintendo', 'Wii': 'nintendo', 'WiiU': 'nintendo', 'PS': 'sony', 'PS2': 'sony', 'PSP': 'sony', 'PS3': 'sony', 'PS4': 'sony', 'PSV': 'sony', 'XB': 'ms', 'X360': 'ms', 'XOne': 'ms', 'GEN': 'other', 'SCD': 'other', 'DC': 'other', 'GG': 'other', '2600': 'other', '3DO': 'other', 'NG': 'other', 'PCFX': 'other', 'TG16': 'other', 'SAT': 'other', 'WS': 'other'}

In [16]:
game['Plat_Comp'] = game['Platform'].map(plat_new)
game.head()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating,Plat_Comp
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E,nintendo
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN,nintendo
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E,nintendo
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E,nintendo
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN,nintendo

In [17]:
plat_sales = game.groupby('Plat_Comp')['Global_Sales'].sum().to_frame().reset_index()

In [18]:
data = [go.Bar(
            x=plat_sales['Plat_Comp'],
            y=plat_sales['Global_Sales']
    )]

py.iplot(data)